@import 'utils/_mixins';
@import 'utils/_variables';

.header-container {
  display: grid;
  grid-template-areas:
        "logo-container profile-container"
        "navbar-container navbar-container";
  grid-template-columns: 80px auto;
  position: fixed;
  gap: 4px;
  background-color: @warm-light;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 6px 6px 0;
  padding: 4px;

  //.min580_all({
  //  grid-template-areas:
  //      "logo-container navbar-container profile-container";
  //  grid-template-columns: 100px auto 140px;
  //});
  .min_768({
    margin: 0 10px 10px 0;
    padding: 10px;
  });
  .min_1024({
    grid-template-columns: 100px auto;
  });
  .min_1200({
    grid-template-columns: 160px auto;
  });
  .min_1440({
    padding: 20px 40px;
  });

  .logo-container {
    grid-area: logo-container;
    padding-top: 2px;
    color: @cold-gold;

    h1 {
      font-size: 16px;
      margin: 0;
      .min_768({
        font-size: 18px;
      });
      .min_1200({
        font-size: 24px;
      });
      .min_1440({
        font-size: 24px;
      });
    }
  }

  .navbar-container {
    display: none;
    width: 100%;
    text-align: center;
    grid-area: navbar-container;

    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    .min_768({
      justify-content: center;
      gap: 8px;
      align-content: center;
    });

    &.opened {
      display: flex;
    }
  }

  .profile-container {
    text-align: right;
    grid-area: profile-container;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;

    .min_768({
      gap: 8px;
    });

    .ava_container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      .min_1200({
        display: none;
      });

      .ava_item_wrapper {
        position: relative;
        height: 30px;

        .user_avatar {
          position: absolute;
          width: 30px;
          height: 30px;
          left: -15px;
          border-radius: 20px;

          &:hover {
            cursor: pointer;
            z-index: 100;
          }

        }
      }
    }

    .navbar-link-logout,
    .navbar-link-profile {
      width: 40px;
      .min_1200({
        width: unset;
      });

      span {
        display: none;

        .min_1200({
          display: inline;
        });
      }

    }

    .logout_icon {
      display: flex;

      .min_1200({
        display: none;
      });

    }

    .navbar-link-logout {
      .max_1199({
        padding: 4px 5px;
      });
    }
  }

  .burger-menu-button {
    display: flex;
    width: 20px;
  }
}

.navbar-link {
  border-radius: 4px;
  font-size: 12px;
  display: inline-block;
  text-decoration: none;
  padding: 4px 12px;
  margin: 2px;
  color: @btn-color;
  background-color: @btn-bg;
  .min_768({
    margin: 0;
  });
  .min_1200({
    font-size: 12px;
    padding: 8px 6px;
  });
  .min_1440({
    font-size: 12px;
    padding: 8px 12px;
  });
  .min_1600({
    font-size: 14px;
    padding: 8px 12px;
  });

  &:hover {
    cursor: pointer;
    background-color: @btn-bg-hover;
    color: white;
  }

  &.navbar-link-active {
    font-weight: bold;
  }
}

.level-rank-points {
  padding: 0;
  background-color: transparent;
  color: @btn-bg-hover;
  margin: 0 4px;
  pointer-events: none;
}




