@import 'utils/_mixins';
@import 'utils/_variables';

.header-container {
  display: grid;
  grid-template-areas:
        "logo-container profile-container"
        "navbar-container navbar-container";
  .min580_all({
    grid-template-areas:
        "logo-container navbar-container profile-container";
  });
  position: fixed;
  gap: 4px;
  background-color: @warm-light;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 6px 6px 0;
  padding: 4px;
  .min_768({
    margin: 0 10px 10px 0;
    padding: 10px;
  });
  .min_1440({
    padding: 20px 40px;
  });

  .logo-container {
    grid-area: logo-container;
    padding-top: 2px;
    color: @cold-gold;

    h1 {
      font-size: 16px;
      margin: 0;
      .min_768({
        font-size: 18px;
      });
      .min_1200({
        font-size: 24px;
      });
      .min_1440({
        font-size: 24px;
      });
    }
  }

  .navbar-container {
    width: 100%;
    text-align: center;
    grid-area: navbar-container;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .min_768({
      justify-content: center;
      gap: 8px;
    });
  }

  .profile-container {
    text-align: right;
    grid-area: profile-container;
  }
}

.navbar-link {
  border-radius: 4px;
  font-size: 12px;
  display: inline-block;
  text-decoration: none;
  padding: 4px 12px;
  margin: 2px;
  color: @btn-color;
  background-color: @btn-bg;
  .min_768({
    margin: 0;
  });
  .min_1200({
    font-size: 14px;
    padding: 8px 16px;
  });

  &:hover {
    cursor: pointer;
    background-color: @btn-bg-hover;
    color: white;
  }

  &.navbar-link-active {
    font-weight: bold;
  }
}
