@import 'utils/_mixins';
@import 'utils/_variables';

.pagination {
  font-size: 12px;
  display: flex;
  align-items: baseline;
}

.pagination_per_page,
.pagination_pages,
.pagination_len {
  flex: 4;
}

.pagination_pages {
  text-align: center;
}

.pagination_len {
  text-align: right;
}

#pagination_limit {
  font-size: 12px;
}