<div id="activity_rule_table">
    <table>
        <thead>
        Правила Очков
        </thead>
        <tbody>
        <tr>
            <th>
                Событие
            </th>
            <th>
                Очков (+/-)
            </th>
        </tr>
        <tr>
            <td>
                Создание проектов
            </td>
            <td>
                +500 очков
            </td>

        </tr>
        <tr>
            <td>
                Создание и редактирование задачи
            </td>
            <td>
                +10 очков
            </td>
        </tr>
        <tr>
            <td>
                Создание и редактирование тегов
            </td>
            <td>
                +50 очков
            </td>
        </tr>
        <tr>
            <td>
                Была активность в течение дня
            </td>
            <td>
                +10 очков
            </td>
        </tr>
        <tr>
            <td>
                Не было активности в течение дня
            </td>
            <td>
                -10 очков
            </td>
        </tr>
        </tbody>
    </table>
</div>




