<div id="levels_rule_table">
    <table>
        <thead>
        Правила Уровней
        </thead>
        <tbody>
        <tr>
            <th>
                Уровень
            </th>
            <th>
                Мин. кол-во текущих очков
            </th>
            <th>
                Макс. кол-во текущих очков
            </th>
        </tr>
        <tr>
            <td>
                Пассивный
            </td>
            <td>
                0
            </td>
            <td>
                1000
            </td>
        </tr>
        <tr>
            <td>
                Средний
            </td>
            <td>
                1000
            </td>
            <td>
                2000
            </td>
        </tr>
        <tr>
            <td>
                Активный
            </td>
            <td>
                2000
            </td>
            <td>
                3000
            </td>
        </tr>
        <tr>
            <td>
                Предприниматель
            </td>
            <td>
                3000
            </td>
            <td>
                -----
            </td>
        </tr>
        </tbody>
    </table>
</div>




