{% load custom_filters %}


<table>
    <tbody>
    <tr>
        <th>

        </th>
        <th>
            <div>id</div>
            {{ 'id'|create_table_column_search_and_sorting_widget:3 }}
        </th>
        <th>

        </th>
        <th>
            <div>Выполнена?</div>
            {{ 'is_done'|create_table_column_search_and_sorting_widget:3 }}
        </th>
        <th>
            <div>Проект</div>
            {{ 'project__title'|create_table_column_search_and_sorting_widget:3 }}
        </th>
        <th>
            <div>Название</div>
            {{ 'title'|create_table_column_search_and_sorting_widget:3 }}
        </th>
        <th>
            <div>Содержимое</div>
            {{ 'content'|create_table_column_search_and_sorting_widget:3 }}
        </th>
        <th>
            <div>Создана</div>
            {{ 'created_at'|create_table_column_search_and_sorting_widget:3 }}
        </th>
        <th>
            <div>Обновлена</div>
            {{ 'updated_at'|create_table_column_search_and_sorting_widget:3 }}
        </th>
        <th>
            <div>Начало</div>
            {{ 'begin_at'|create_table_column_search_and_sorting_widget:3 }}
        </th>
        <th>
            <div>Продолжительность</div>
            {{ 'duration'|create_table_column_search_and_sorting_widget:3 }}
        </th>
        <th>
            <div>Тэги</div>
            {{ 'tags'|create_table_column_multi_filter_widget:all_tags }}

        </th>
    </tr>
    {% for item in page_obj %}
        <tr>
            <td>
                <input type="checkbox">
            </td>
            <td>
                {{ item.pk }}
            </td>
            <td>
                <a href="{% url 'task_detail' pk=item.pk %}">&#128065;</a>
                <button class="btn_item_delete" data-item-title="{{ item.title }}"
                        data-entity-name="задачу"
                        {% if project_id %}
                        data-redirect-url="{% url 'project_detail' pk=project_id %}"
                        {% else %}
                        data-redirect-url="{% url 'tasks_page' %}"
                        {% endif %}
                        data-post-url="{% url 'task_delete' pk=item.pk %}">&#x2613;
                </button>
                <a href="{% url 'task_edit' pk=item.pk %}">&#9998;</a>
            </td>
            <td>
                {{ item.is_done }}
            </td>
            <td>
                <a href="{% url 'project_detail' item.project_id %}">
                    {{ item.project }}</a>
            </td>
            <td>
                {{ item.title }}
            </td>
            <td>
                {{ item.content|truncatechars:100 }}
            </td>
            <td>
                {{ item.created_at|date:'Y-m-d H:i' }}
            </td>
            <td>
                {{ item.updated_at|date:'Y-m-d H:i' }}
            </td>
            <td>
                {{ item.begin_at|date:'Y-m-d H:i' }}
                {#                {{ item.begin_at|localtime }}#}
            </td>
            <td>
                {{ item.duration|duration_humanize }}
            </td>
            <td>
                {% for item in item.tags.all %}
                    <span style="background-color: {{ item.color }}">{{ item.title }}</span>
                {% endfor %}
            </td>

        </tr>
    {% endfor %}
    </tbody>
</table>