<table>
    <tbody>
    <tr>
        <th>

        </th>
        <th>
            id
        </th>
        <th>

        </th>
        <th>
            Выполнена?
        </th>
        <th>
            Проект
        </th>
        <th>
            Название
        </th>
        <th>
            Содержимое
        </th>
        <th>
            Создана
        </th>
        <th>
            Обновлена
        </th>
    </tr>
    {% for item in page_obj %}
        <tr>
            <td>
                <input type="checkbox">
            </td>
            <td>
                {{ item.pk }}
            </td>
            <td>
                <a href="{% url 'task_detail' pk=item.pk %}">&#128065;</a>
                <button class="btn_item_delete" data-item-title="{{ item.title }}"
                        data-post-url="{% url 'task_delete' pk=item.pk %}">&#x2613;
                </button>
                <a href="{% url 'task_edit' pk=item.pk %}">&#9998;</a>
            </td>
            <td>
                {{ item.is_done }}
            </td>
            <td>
                {{ item.project }}
            </td>
            <td>
                {{ item.title }}
            </td>
            <td>
                {{ item.content|truncatechars:100 }}
            </td>
            <td>
                {{ item.created_at|date:'Y-m-d H:i' }}
            </td>
            <td>
                {{ item.updated_at|date:'Y-m-d H:i' }}
            </td>

        </tr>
    {% endfor %}
    </tbody>
</table>