{% load custom_filters %}


<table class="tasks_table users_groups_table">
    <tbody>
    <tr>
        <th>
            <div>Создатель</div>
{#            <search-widget-component data-field-name="creator" size="3"></search-widget-component>#}
            <sorting-widget data-field-name="creator"></sorting-widget>
        </th>
        <th>
            <div>Активна?</div>
            <binary-filter-widget data-field-name="is_active"></binary-filter-widget>
        </th>
        <th>
            <div>Название</div>
            <search-widget-component data-field-name="title" size="3"></search-widget-component>
            <sorting-widget data-field-name="title"></sorting-widget>
        </th>
        <th>
            <div>Описание</div>
            <search-widget-component data-field-name="description" size="3"></search-widget-component>
            <sorting-widget data-field-name="description"></sorting-widget>
        </th>
        <th>
            <div>Создана</div>
            <search-widget-component data-field-name="created_at" size="3"></search-widget-component>
            <sorting-widget data-field-name="created_at"></sorting-widget>
        </th>
        <th>
            <div>Обновлена</div>
            <search-widget-component data-field-name="updated_at" size="3"></search-widget-component>
            <sorting-widget data-field-name="updated_at"></sorting-widget>
        </th>
        <th>
            <div>Проекты</div>
{#            <search-widget-component data-field-name="projects" size="3"></search-widget-component>#}
{#            <sorting-widget data-field-name="projects"></sorting-widget>#}
        </th>
        <th>
            <div>Пользователи</div>
{#            <search-widget-component data-field-name="users" size="3"></search-widget-component>#}
{#            <sorting-widget data-field-name="users"></sorting-widget>#}
        </th>
        <th>
            <div>Тэги</div>
{#            {{ 'tags'|create_table_column_multi_filter_widget:all_tags }}#}

        </th>
    </tr>
    {% for item in page_obj %}
        <tr class="task-item-row">
            <td class="table_item_tools">
                <input type="checkbox">
                <a href="{% url 'users_group_detail' pk=item.pk %}">&#128065;</a>
                <button class="btn_item_delete"
                        data-item-title="{{ item.title }}"
                        data-entity-name="группу"
                        data-redirect-url="{% url 'users_groups_page' %}"
                        data-post-url="{% url 'users_group_delete' pk=item.pk %}">
                    &#x2715;
                </button>
                <a class="table_item_edit"
                   href="{% url 'users_group_edit' pk=item.pk %}">&#9998;</a>
                <br>
                <div class="ava_container">
                    <div class="ava_item_wrapper">
                        <img src="{{ item.creator.profile_settings.avatar.url }}"
                             alt="creator"
                             class="user_avatar"
                             title="{{ item.creator }}">
                    </div>
                </div>
            </td>
            <td class="task-item-id" data-task-id="{{ item.pk }}">
                {{ item.is_active }}
            </td>
            <td class="task_item_title">
                <div class="ellipsed_text_1">
                    <input type="text" value="{{ item.title }}">
                </div>
            </td>
            <td class="task_item_description">
                <div class="ellipsed_text_2">
                    {{ item.description|safe }}
                </div>
            </td>
            <td class="task_item_created_at">
                {{ item.created_at|date:'Y-m-d H:i' }}
            </td>
            <td class="task_item_updated_at">
                {{ item.updated_at|date:'Y-m-d H:i' }}
            </td>
            <td class="task_item_begin_at">
                {% for item in item.projects.all %}
                    <div>{{ item.title }}</div>
                {% endfor %}
            </td>
            <td class="task_item_duration">
                {% for user in item.users.all %}
                    <div>
                        {{ user }}
                    </div>
                {% endfor %}
            </td>
            <td class="task_item_tags">
                {% for item in item.tags.all %}
                    <span class="task_item_tag"
                          style="background-color: {{ item.color }}">{{ item.title }}</span>
                {% endfor %}
            </td>

        </tr>
    {% endfor %}
    </tbody>
</table>