{% extends 'tudushnik/base.html' %}

{% block content %}
    <form action="{% url 'add_task_to_project' project_pk=form.initial.project %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        <table>
            <tbody>
            {% for f in form %}
                <tr>
                    <td>
                        <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>
                    </td>
                    <td>
                        {{ f }}
                    </td>
                    <td>
                        <div class="form-error">{{ f.errors }}</div>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
        <br>
        <button type="submit">Добавить</button>
    </form>
{% endblock content %}
