{% extends 'tudushnik/base.html' %}
{% load static %}

{% block content %}
    <form action="{% url 'add_task' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="referer" value="{{ referer }}">
        <div class="form-error">{{ form.non_field_errors }}</div>
        <table>
            <tbody>
            {% for f in form %}
                <tr>
                    <td>
                        <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>
                    </td>
                    <td>
                        {{ f }}
                    </td>
                    <td>
                        <div class="form-error">{{ f.errors }}</div>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
        <br>
        <button type="submit">Добавить</button>
    </form>
{% endblock content %}

{% block local_scripts %}
    <script type="text/javascript" src="{% static 'tudushnik/js/duration_annotation.js' %}"></script>
{% endblock local_scripts %}
