{% extends 'tudushnik/base.html' %}
{% load static %}

{% block local_styles %}
    <link rel="stylesheet" href="{% static 'tudushnik/css/calendar.css' %}">
{% endblock local_styles %}


{% block content %}

    <div class="page-title-container">
        <div class="page-title">
            {{ title }}
        </div>
    </div>

    {% include 'tudushnik/_viewport_calendar.html' %}
    <div id="modal_window_calendar_contextmenu"></div>


{% endblock content %}


{% block local_scripts %}
    <script type="text/javascript"
            src="{% static 'tudushnik/js/dist/task.js' %}"></script>
    {#    <script type="text/javascript"#}
    {#            src="{% static 'tudushnik/js/dist/viewport.js' %}"></script>#}
    <script type="text/javascript"
            src="{% static 'tudushnik/js/crud.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'tudushnik/js/projects_detail.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'tudushnik/js/searching.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'tudushnik/js/sorting.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'tudushnik/js/dist/calendar.js' %}"></script>
{% endblock local_scripts %}
