{% extends 'tudushnik/base.html' %}
{% load static %}

{% block local_styles %}
    {#    TODO:   #}
    <link rel="stylesheet"
          href="{% static 'tudushnik/css/viewport_toolbar.css' %}">
{% endblock local_styles %}


{% block content %}

    <div class="entity_header">
        <div id="gantt_apply_filters"
             class="hidden">{{ gantt_apply_filters }}</div>
        <div class="page-title-container">
            <div class="page-title">
                {{ title }}
            </div>
        </div>

        <form id="form_chart_datetimes">

            <select name="selected_projects[]" id="selected_projects" multiple>
                {% for project in all_projects %}
                    <option value="{{ project.pk }}"
                            {% if project.pk in selected_projects %}
                            selected
                            {% endif %}
                    >{{ project.title }}</option>
                {% endfor %}
            </select>

            <div class="chart_datetimes">
                <div>
                    <label for="gantt_chart_datetime_from">
                        Дата от:
                    </label>
                    <input id="gantt_chart_datetime_from"
                           name="gantt_chart_datetime_from"
                           type="date">
                </div>
                <div>
                    <label for="gantt_chart_datetime_to">
                        Дата до:
                    </label>
                    <input id="gantt_chart_datetime_to"
                           name="gantt_chart_datetime_to"
                           type="date">
                </div>
            </div>

            <input type="submit">Применить критерии</input>

        </form>

    </div>

    <div class="toolbar">
        <label class="select_dt_scale_label hidden"
               for="viewport_dt_line_scale">Scale Y: <select
                name="viewport_dt_line_scale"
                id="viewport_dt_line_scale"></select></label>

        <div id="move_settings">
            <div>Перемещать</div>
            <div>
                <input type="checkbox" id="inp_is_move_with_children">
                <label for="inp_is_move_with_children">с children?</label>
                <input type="checkbox" id="inp_is_move_with_children_recursive">
                <label for="inp_is_move_with_children_recursive">рекурсивно?</label>
            </div>
            <div>
                <input type="checkbox" id="inp_is_move_with_parents">
                <label for="inp_is_move_with_parents">с parents?</label>
            </div>
        </div>
    </div>

    {% include 'tudushnik/_viewport_datetimeline.html' %}


{% endblock content %}


{% block local_scripts %}
    <script type="text/javascript"
            src="{% static 'tudushnik/js/dist/task.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'tudushnik/js/dist/viewport.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'tudushnik/js/crud.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'tudushnik/js/projects_detail.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'tudushnik/js/searching.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'tudushnik/js/sorting.js' %}"></script>
{% endblock local_scripts %}
