{% extends 'tudushnik/base.html' %}

{% block sidebar_left %}
    {#    <ul>#}
    {#        <li>tool 1</li>#}
    {#        <li>tool 2</li>#}
    {#    </ul>#}
{% endblock sidebar_left %}

{% block content %}
    <p>
        <span>
            Добро пожаловать в иновационное бизнес-приложение для планирования своих дел и контроля времени!
        </span>
    </p>
    <p>
        <span>
            Здесь вы сможете создавать проекты, в&nbsp;них задачи, планировать процессы во&nbsp;времени, и&nbsp;многое другое!
        </span>
    </p>

    {% if not request.user.is_authenticated %}
        <p>
            <span>
                Для начала работы вам необходимо <a href="{% url 'register' %}">зарегистрироваться</a>
                        или <a href="{% url 'login' %}">войти</a>
            </span>
        </p>

    {% else %}
        <p>
            <span>
                Для начала создайте Проект, затем в&nbsp;нём&nbsp;Задачу.
            </span>
        </p>
    {% endif %}

{% endblock content %}

{% block sidebar_right %}
    {#    <ul>#}
    {#        <li>tool 1</li>#}
    {#        <li>tool 2</li>#}
    {#    </ul>#}
{% endblock sidebar_right %}