{% extends 'tudushnik/base.html' %}
{% load static %}

{% block local_styles %}
    <link rel="stylesheet"
          href="{% static 'tudushnik/css/user_profile.css' %}">
{% endblock local_styles %}


{% block content %}
    <p>
        <span>Привет, {{ user.username }}</span>
    </p>
    <table>
    <tbody>
    <tr>
        <td>
            Логин:
        </td>
        <td>
            {{ user.username }}
        </td>
    </tr>
    <tr>
        <td>
            Email:
        </td>
        <td>
            {{ user.email }}
        </td>
    </tr>
    <tr>
        <td>
            Админские права:
        </td>
        <td>
            {{ user.is_staff }}
        </td>
    </tr>
    <tr>
        <td>
            Аватарка:
        </td>
        <td>
            <img src="{{ user.profile_settings.avatar.url }}" alt="ava" class="user_avatar">
        </td>
    </tr>
    </tbody>
    </table>

{% endblock content %}

{% block local_scripts %}
    <script type="text/javascript" src="{% static 'tudushnik/js/dist/user_profile.js' %}"></script>
{% endblock local_scripts %}

