{% extends 'tudushnik/base.html' %}
{% load static %}

{% block local_styles %}
    <link rel="stylesheet"
          href="{% static 'tudushnik/css/user_profile.css' %}">
{% endblock local_styles %}


{% block content %}
    <p>
        <span>Привет, {{ user.username }}</span>
    </p>
    <table>
    <tbody>
    <tr>
        <td>
            Логин:
        </td>
        <td>
            {{ user.username }}
        </td>
    </tr>
    <tr>
        <td>
            Email:
        </td>
        <td>
            {{ user.email }}
        </td>
    </tr>
    <tr>
        <td>
            Админские права:
        </td>
        <td>
            {{ user.is_staff }}
        </td>
    </tr>
    <tr>
        <td>
            Аватарка:
        </td>
        <td>
            <img src="{{ user.profile_settings.avatar.url }}" alt="ava" class="user_avatar">
        </td>
    </tr>

    <tr>
        <td>
            Уровень активности:
        </td>
        <td>
            {{ user.profile_settings.level.title }}
            <span class="btn_wiki_modal_open" data-modal-id="levels_rule_table">&#9432;</span>
        </td>
    </tr>
    <tr>
        <td>
            Звание:
        </td>
        <td>
            {{ user.profile_settings.rank.title }}
            <span class="btn_wiki_modal_open" data-modal-id="ranks_rule_table">&#9432;</span>
        </td>
    </tr>
    <tr>
        <td>
            Очков сейчас:
        </td>
        <td>
            {{ user.profile_settings.points_now }}
            <span class="btn_wiki_modal_open" data-modal-id="activity_rule_table">&#9432;</span>
        </td>
    </tr>
    <tr>
        <td>
            Очков всего:
        </td>
        <td>
            {{ user.profile_settings.points_total }}
        </td>
    </tr>
    </tbody>
    </table>

    {% include 'tudushnik/_activity_display_root.html' %}
    {% include 'tudushnik/_levels_rule_table.html' %}
    {% include 'tudushnik/_ranks_rule_table.html' %}
    {% include 'tudushnik/_activity_rule_table.html' %}

{% endblock content %}

{% block local_scripts %}
    <script type="text/javascript" src="{% static 'tudushnik/js/dist/user_profile.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'tudushnik/js/dist/user_detail.js' %}"></script>
{% endblock local_scripts %}

