{% extends 'tudushnik/base.html' %}


{% block content %}
    <p>
        <span>Привет, {{ user.username }}</span>
    </p>
    <table>
    <tbody>
    <tr>
        <td>
            Логин:
        </td>
        <td>
            {{ user.username }}
        </td>
    </tr>
    <tr>
        <td>
            Email:
        </td>
        <td>
            {{ user.email }}
        </td>
    </tr>
    <tr>
        <td>
            Админские права:
        </td>
        <td>
            {{ user.is_staff }}
        </td>
    </tr>
    <tr>
        <td>
            Аватарка:
        </td>
        <td>
            Тут будет возможность загружать аватарку
        </td>
    </tr>
    </tbody>
    </table>

{% endblock content %}

