{% extends 'tudushnik/base.html' %}
{% load static %}
{% load custom_filters %}


{% block content %}
    {% include 'tudushnik/_pagination.html' %}

    <a href="{% url 'add_project' %}">Добавить проект</a>
    <br>
    <table>
        <tbody>
        <tr>
            <th>

            </th>
            <th>
                id
            </th>
            <th>

            </th>
            <th>
                Название
            </th>
            <th>
                Описание
            </th>
            <th>
                Создан
            </th>
            <th>
                Обновлён
            </th>
        </tr>
        {% for item in page_obj %}
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    {{ item.pk }}
                </td>
                <td>
                    <a href="{% url 'project_detail' pk=item.pk %}">&#128065;</a>
                    <button class="btn_item_delete" data-item-title="{{ item.title }}"
                            data-post-url="{% url 'project_delete' pk=item.pk %}">&#x2613;
                    </button>
                    <a href="{% url 'project_edit' pk=item.pk %}">&#9998;</a>
                </td>
                <td>
                    {{ item.title }}
                </td>
                <td>
                    {{ item.description|truncatechars:100 }}
                </td>
                <td>
                    {{ item.created_at|date:'Y-m-d H:i' }}
                </td>
                <td>
                    {{ item.updated_at|date:'Y-m-d H:i' }}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock content %}

{% block sidebar_right %}
{% endblock sidebar_right %}


{% block local_scripts %}
    <script type="text/javascript" src="{% static 'tudushnik/js/pagination.js' %}"></script>
    <script type="text/javascript" src="{% static 'tudushnik/js/crud.js' %}"></script>
    <script type="text/javascript" src="{% static 'tudushnik/js/projects_page.js' %}"></script>
{% endblock local_scripts %}