{% extends 'tudushnik/base.html' %}
{% load static %}
{% load custom_filters %}


{% block content %}
    <div class="project_page items_table_wrapper">
        {% include 'tudushnik/_pagination.html' %}

        <a href="{% url 'add_project' %}" class="a_btn_primary">Добавить
            проект</a>

        <table id="project-list-table">
            <tbody>
            <tr>
                <th>

                </th>
                <th>
                    <div>Владелец</div>
                </th>
                <th>
                    <div>Название</div>
                    <search-widget-component data-field-name="title"
                                             size="3"></search-widget-component>
                    <sorting-widget data-field-name="title"></sorting-widget>
                </th>
                <th>
                    <div>Описание</div>


                    <search-widget-component data-field-name="description"
                                             size="3"></search-widget-component>
                    <sorting-widget
                            data-field-name="description"></sorting-widget>
                </th>
                <th>
                    <div>Создан</div>

                    <search-widget-component data-field-name="created_at"
                                             size="3"></search-widget-component>
                    <sorting-widget
                            data-field-name="created_at"></sorting-widget>
                </th>
                <th>
                    <div>Обновлён</div>

                    <search-widget-component data-field-name="updated_at"
                                             size="3"></search-widget-component>
                    <sorting-widget
                            data-field-name="updated_at"></sorting-widget>
                </th>
            </tr>
            {% for item in page_obj %}
                <tr>
                    <td>
                        <a href="{% url 'project_detail' pk=item.pk %}">&#128065;</a>
                        <button class="btn_item_delete"
                                data-item-title="{{ item.title }}"
                                data-entity-name="проект"
                                data-redirect-url="{% url 'projects_page' %}"
                                data-post-url="{% url 'project_delete' pk=item.pk %}">
                            &#x2613;
                        </button>
                        <a href="{% url 'project_edit' pk=item.pk %}">&#9998;</a>
                        <input type="color" disabled value="{{ item.color }}">
                    </td>
                    <td>
                        <div class="ava_container">
                            <div class="ava_item_wrapper">
                                <img src="{{ item.owner.profile_settings.avatar.url }}"
                                     alt="creator"
                                     class="user_avatar"
                                     title="{{ item.owner }}">
                            </div>
                        </div>
                    </td>

                    <td>
                        {{ item.title }}
                    </td>
                    <td>
                        <div class="ellipsed_text">
                            {{ item.description|safe }}
                        </div>
                    </td>
                    <td>
                        {{ item.created_at|date:'Y-m-d H:i' }}
                    </td>
                    <td>
                        {{ item.updated_at|date:'Y-m-d H:i' }}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}

{% block sidebar_right %}
{% endblock sidebar_right %}


{% block local_scripts %}
    <script type="text/javascript"
            src="{% static 'tudushnik/js/pagination.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'tudushnik/js/crud.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'tudushnik/js/projects_page.js' %}"></script>
    {#    <script type="text/javascript"#}
    {#            src="{% static 'tudushnik/js/searching.js' %}"></script>#}
    {#    <script type="text/javascript"#}
    {#            src="{% static 'tudushnik/js/sorting.js' %}"></script>#}
    <script type="text/javascript"
            src="{% static 'tudushnik/js/dist/data_query_manager.js' %}"></script>
{% endblock local_scripts %}