{% extends 'tudushnik/base.html' %}
{% load static %}

{% block content %}
    <div>
        <button class="btn_item_delete" data-item-title="{{ object.title }}" data-entity-name="тэг"
                data-redirect-url="{% url 'tags_page' %}"
                data-post-url="{% url 'tag_delete' pk=object.pk %}">&#x2613;
        </button>
        <a href="{% url 'tag_edit' pk=object.pk %}">&#9998;</a>
    </div>
    <br>

    <div>
        Создан: {{ object.created_at|date:'Y-m-d H:i' }}
    </div>
    <div>
        Обновлён: {{ object.updated_at|date:'Y-m-d H:i' }}
    </div>
    <br>
    <div>
        Текст: {{ object.title }}
    </div>
    <div>
        Цвет: <input type="color" value="{{ object.color }}" disabled>
    </div>

{% endblock content %}

{% block local_scripts %}
    {#    <script type="text/javascript" src="{% static 'tudushnik/js/pagination.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'tudushnik/js/crud.js' %}"></script>
    <script type="text/javascript" src="{% static 'tudushnik/js/tag_detail.js' %}"></script>
    <script type="text/javascript" src="{% static 'tudushnik/js/searching.js' %}"></script>
    <script type="text/javascript" src="{% static 'tudushnik/js/sorting.js' %}"></script>
{% endblock local_scripts %}