{% extends 'tudushnik/base.html' %}

{% block sidebar_left %}
{#    <ul>#}
{#        <li>tool 1</li>#}
{#        <li>tool 2</li>#}
{#    </ul>#}
{% endblock sidebar_left %}

{% block content %}

    <a href="{% url 'add_tag' %}">Добавить тэг</a>
    {% for project in projects %}
        <div>
            {{ project.title }}
        </div>
    {% endfor %}
{% endblock content %}

{% block sidebar_right %}
{#    <ul>#}
{#        <li>tool 1</li>#}
{#        <li>tool 2</li>#}
{#    </ul>#}
{% endblock sidebar_right %}