{% extends 'tudushnik/base.html' %}
{% load static %}


{% block content %}
    <h2>Редактирование задачи</h2>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <label for="id_parents">Родительские задачи:</label>
        <select name="parents[]" id="id_parents" multiple>
            {% for item in all_other_tasks_and_not_children %}
                <option
                        {% if item in parents %}
                            selected
                        {% endif %}
                            value="{{ item.pk }}">
                    {{ item.title }}</option>
            {% endfor %}
        </select>
        <div>
            <div>Перемещать</div>
            <div>
                <input type="checkbox" id="inp_is_move_with_children"
                       name="is_move_with_children">
                <label for="inp_is_move_with_children">с children?</label>
                <input type="input" name="begin_at_delta" value="0"
                       class="hidden">
                <input type="checkbox"
                       id="inp_is_move_with_children_recursive"
                       name="is_move_with_children_recursive">
                <label for="inp_is_move_with_children_recursive">рекурсивно?</label>
            </div>
            <div>
                <input type="checkbox" id="inp_is_move_with_parents"
                       name="is_move_with_parents">
                <label for="inp_is_move_with_parents">с parents?</label>
            </div>
        </div>
        <input type="submit" value="OK">
    </form>

{% endblock content %}


{% block local_scripts %}
    <script type="text/javascript"
            src="{% static 'tudushnik/js/duration_annotation.js' %}"></script>
{% endblock local_scripts %}

