{% extends 'tudushnik/base.html' %}
{% load static %}




{% block content %}
    <div class="items_table_wrapper">
        {% include 'tudushnik/_pagination.html' %}

        <a class="add_item" href="{% url 'add_task' %}">+ Добавить</a>
        <br>
        {% include 'tudushnik/_tasks_table.html' %}
    </div>

{% endblock content %}

{% block local_scripts %}
    <script type="text/javascript" src="{% static 'tudushnik/js/pagination.js' %}"></script>
    <script type="text/javascript" src="{% static 'tudushnik/js/crud.js' %}"></script>
    <script type="text/javascript" src="{% static 'tudushnik/js/tasks_page.js' %}"></script>
    <script type="text/javascript" src="{% static 'tudushnik/js/searching.js' %}"></script>
    <script type="text/javascript" src="{% static 'tudushnik/js/sorting.js' %}"></script>
    <script type="text/javascript" src="{% static 'tudushnik/js/filtering.js' %}"></script>
{% endblock local_scripts %}
