{% extends 'tudushnik/base.html' %}
{% load static %}

{% block content %}

    <div>{{ object.title }}</div>
    <br>
    <div>
        <button class="btn_item_delete" data-item-title="{{ object.title }}" data-entity-name="задачу"
                data-redirect-url="{% url 'tasks_page' %}"
                data-post-url="{% url 'task_delete' pk=object.pk %}">&#x2613;
        </button>
        <a href="{% url 'task_edit' pk=object.pk %}">&#9998;</a>
    </div>
    <br>

    <div>
        Создана: {{ object.created_at|date:'Y-m-d H:i' }}
    </div>
    <div>
        Обновлена: {{ object.updated_at|date:'Y-m-d H:i' }}
    </div>
    <div>
        Начало: {{ object.begin_at|date:'Y-m-d H:i' }}
    </div>
    <div>
        Выполнена: {{ object.is_done }}
    </div>
    <div>
        Проект: <a href="{% url 'project_detail' object.project_id %}">
        {{ object.project.title }}
    </a>
    </div>
    <br>
    <div>
        Тэги:
        {% for item in object.tags.all %}
            <span style="background-color: {{ item.color }}">{{ item.title }}</span>
        {% endfor %}
    </div>
    <div>
        <h4>Содержание</h4>
        <span>
            {{ object.content|safe }}
        </span>
    </div>
    <div>
        <h4>Родительские задачи</h4>
        <ul>
            {% for task in object.parent.all %}
                <li><a href="{% url 'task_detail' pk=task.parent.pk %}">
                    {{ task.parent }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h4>Дочерние задачи</h4>
        <ul>
            {% for child in object.children.all %}
                <li><a href="{% url 'task_detail' pk=child.pk %}">
                    {{ child }}</a></li>
            {% endfor %}
        </ul>
    </div>

{% endblock content %}

{% block local_scripts %}
    {#    <script type="text/javascript" src="{% static 'tudushnik/js/pagination.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'tudushnik/js/crud.js' %}"></script>
    <script type="text/javascript" src="{% static 'tudushnik/js/task_detail.js' %}"></script>
    <script type="text/javascript" src="{% static 'tudushnik/js/searching.js' %}"></script>
    <script type="text/javascript" src="{% static 'tudushnik/js/sorting.js' %}"></script>
{% endblock local_scripts %}