{% extends 'tudushnik/base.html' %}
{% load static %}


{% block content %}
    {% include 'tudushnik/_pagination.html' %}

    <a href="{% url 'add_task' %}">Добавить задачу</a>
    <br>
    {% include 'tudushnik/_tasks_table.html' %}
{% endblock content %}

{% block local_scripts %}
    <script type="text/javascript" src="{% static 'tudushnik/js/pagination.js' %}"></script>
    <script type="text/javascript" src="{% static 'tudushnik/js/crud.js' %}"></script>
    <script type="text/javascript" src="{% static 'tudushnik/js/tasks_page.js' %}"></script>
{% endblock local_scripts %}
