{% extends 'tudushnik/base.html' %}
{% load static %}

{% block local_styles %}
    <link rel="stylesheet"
          href="{% static 'tudushnik/css/user_profile.css' %}">
{% endblock local_styles %}


{% block content %}

    <table>
        <tbody>
        <tr>
            <td>
                Логин:
            </td>
            <td>
                {{ object.owner.username }}
            </td>
        </tr>
        <tr>
            <td>
                Email:
            </td>
            <td>
                {{ object.owner.email }}
            </td>
        </tr>
        <tr>
            <td>
                Аватарка:
            </td>
            <td>
                <img src="{{ object.avatar.url }}" alt="ava"
                     class="user_avatar">
            </td>
        </tr>

        <tr>
            <td>
                Уровень активности:
            </td>
            <td>
                {{ object.level.title }}
                <span class="btn_wiki_modal_open" data-modal-id="levels_rule_table">&#9432;</span>
            </td>
        </tr>
        <tr>
            <td>
                Звание:
            </td>
            <td>
                {{ object.rank.title }}
                <span class="btn_wiki_modal_open" data-modal-id="ranks_rule_table">&#9432;</span>
            </td>
        </tr>
        <tr>
            <td>
                Очков сейчас:
            </td>
            <td>
                {{ object.points_now }}
                <span class="btn_wiki_modal_open" data-modal-id="activity_rule_table">&#9432;</span>
            </td>
        </tr>
        <tr>
            <td>
                Очков всего:
            </td>
            <td>
                {{ object.points_total }}
            </td>
        </tr>
        </tbody>
    </table>

    {% include 'tudushnik/_activity_display_root.html' %}
    {% include 'tudushnik/_levels_rule_table.html' %}
    {% include 'tudushnik/_ranks_rule_table.html' %}
    {% include 'tudushnik/_activity_rule_table.html' %}

{% endblock content %}

{% block local_scripts %}
    <script type="text/javascript"
            src="{% static 'tudushnik/js/dist/user_detail.js' %}"></script>
{% endblock local_scripts %}

