@import 'components/utils/_base';
@import 'components/utils/_mixins';
@import 'components/utils/_variables';

.calendar {
  user-select: none;
  div {
    display: inline-block;
    outline: 1px solid black;
    margin: 4px;
    padding: 4px;
  }

  .current_date,
  .selected_view {
    display: flex;
    flex-direction: row;

    .view_type {
      display: flex;
      flex-direction: column;
      &.selected{
        outline: 2px solid blue;
      }
      &:hover{
        cursor: pointer;
        outline: 1px solid red;
      }
    }
  }

}

//.viewport_calendar{
//  outline: 1px solid black;
//  height: 200px;
//}
//.test{
//  color: black;
//}
