@import 'components/utils/_base';
@import 'components/utils/_mixins';
@import 'components/utils/_variables';

.calendar_nav_tools{
  .view_type{
    display: inline-block;
    outline: 1px solid black;
    margin: 4px;
    padding: 4px;

  }
}
.viewport_calendar{
  outline: 1px solid black;
  height: 200px;
}
