@import 'components/utils/_base';
@import 'components/utils/_mixins';
@import 'components/utils/_variables';
@import 'components/page';
@import 'components/pagination';


td, th {
  padding: 10px;
}

.hidden {
  display: none;
}

.table_column_sorting.active {
  background-color: #55bb55;
}

.hidden_form_elem {
  position: fixed;
  left: -1000px;
}


