@import '../../../../less/components/utils/_mixins.less';
@import '../../../../less/components/utils/_variables.less';

.wrapper {
  display: flex;
  gap: 4px;
  border-radius: 20px;
  padding: 4px 12px 4px 8px;
  align-items: center;
  width: fit-content;

  label {
    font-size: 12px;
    user-select: none;
    cursor: pointer;
  }

  input {
    cursor: pointer;
  }


}




