@import '_mixins';

@white: #fff;
@red: red;
@btn-bg: #e3e3e3;

.color-red {
  .min768({color: @red;});
}
.ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}