body {
  font-family: Tahoma, "Trebuchet MS", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
body > .wrapper {
  overflow: hidden;
}
* {
  box-sizing: border-box;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .color-red {
    color: red;
  }
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.small_label {
  font-size: 10px;
  margin: 0;
  color: #626262;
}
.hidden {
  display: none;
}
.modal_wrapper .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
}
.modal_wrapper .modal_window {
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 60px;
  background-color: white;
  font-size: 12px;
}
.modal_wrapper .modal_window .btn_close {
  cursor: pointer;
}
.modal_wrapper .modal_window .btn_ok {
  cursor: pointer;
  background-color: darkgreen;
  color: white;
}
.calendar div {
  display: inline-block;
  outline: 1px solid black;
  margin: 4px;
  padding: 4px;
}
.calendar .current_date,
.calendar .selected_view {
  display: flex;
  flex-direction: row;
}
.calendar .current_date .view_type,
.calendar .selected_view .view_type {
  display: flex;
  flex-direction: column;
}
