body {
  font-family: Tahoma, "Trebuchet MS", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #F5FBFF;
}
body > .wrapper {
  overflow: hidden;
}
* {
  box-sizing: border-box;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .color-red {
    color: red;
  }
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.small_label {
  font-size: 10px;
  margin: 0;
  color: #626262;
}
.hidden {
  display: none;
}
.modal_wrapper .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
}
.modal_wrapper .modal_window {
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 60px;
  background-color: white;
  font-size: 12px;
}
.modal_wrapper .modal_window .btn_close {
  cursor: pointer;
}
.modal_wrapper .modal_window .btn_ok {
  cursor: pointer;
  background-color: darkgreen;
  color: white;
}
.var_input {
  border-radius: 8px;
  padding: 8px 12px;
  border: none;
  color: #4A8FC1;
  font-size: 16px;
  max-width: 180px;
}
@media (min-width: 500px) {
  .var_input {
    max-width: unset;
  }
}
.var_input:focus-visible,
.var_input:focus {
  outline: 2px solid #4A8FC1;
}
.var_submit {
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #4A8FC1;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 700;
}
.var_submit:hover {
  background-color: #34729f;
}
.var_btn_del {
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #4A8FC1;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 700;
  padding: 4px 8px;
  font-size: 10px;
  background-color: #e56c6c;
}
.var_btn_del:hover {
  background-color: #34729f;
}
.var_btn_del:hover {
  background-color: #9d3c3c;
}
.search_and_sorting_widget input[type="text"] {
  border-radius: 8px;
  padding: 8px 12px;
  border: none;
  color: #4A8FC1;
  font-size: 16px;
  max-width: 180px;
  width: 100%;
  margin: 4px;
}
@media (min-width: 500px) {
  .search_and_sorting_widget input[type="text"] {
    max-width: unset;
  }
}
.search_and_sorting_widget input[type="text"]:focus-visible,
.search_and_sorting_widget input[type="text"]:focus {
  outline: 2px solid #4A8FC1;
}
@media (min-width: 768px) {
  .search_and_sorting_widget {
    min-width: 76px;
  }
}
.table_column_sorting {
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #4A8FC1;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 700;
}
.table_column_sorting:hover {
  background-color: #34729f;
}
.modal.context_menu .window {
  width: unset;
  top: unset;
  left: unset;
  height: unset;
}
.btn_context_menu_action {
  cursor: pointer;
  padding: 8px;
}
.btn_context_menu_action:hover {
  background-color: #4A8FC1;
  color: #F5FBFF;
}
.calendar {
  user-select: none;
  font-size: 12px;
}
.calendar div {
  outline: 1px solid #97D4FF;
  margin: 4px;
  padding: 4px;
}
.calendar .calendar_header {
  display: flex;
  flex-wrap: wrap;
  background-color: #97D4FF;
}
.calendar .calendar_header .current_date,
.calendar .calendar_header .selected_view {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #4A8FC1;
  color: #34729f;
}
.calendar .calendar_header .current_date .view_type,
.calendar .calendar_header .selected_view .view_type {
  display: flex;
  flex-direction: column;
}
.calendar .calendar_header .current_date .view_type.selected,
.calendar .calendar_header .selected_view .view_type.selected {
  outline: 4px solid blue;
}
.calendar .calendar_header .current_date .view_type:hover,
.calendar .calendar_header .selected_view .view_type:hover {
  cursor: pointer;
  outline: 4px solid #9d3c3c;
}
.calendar .calendar_header .current_date .view_type .value,
.calendar .calendar_header .selected_view .view_type .value,
.calendar .calendar_header .current_date .view_type .label,
.calendar .calendar_header .selected_view .view_type .label {
  background-color: #F5FBFF;
}
.calendar .calendar_header .calendar_fieldset_legend {
  position: absolute;
  top: -16px;
  background-color: white;
}
.calendar .viewport {
  display: flex;
  flex-direction: column;
}
.calendar .viewport * {
  margin: 0;
  padding: 0;
}
.calendar .viewport .head,
.calendar .viewport .body {
  display: flex;
  flex-direction: row;
}
.calendar .viewport .head {
  align-items: center;
}
.calendar .viewport .head .timeline_label {
  width: 80px;
  min-width: 80px;
}
.calendar .viewport .head .cols_labels {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-right: 16px;
}
.calendar .viewport .head .cols_labels .col_label {
  width: 100%;
  display: flex;
  justify-content: center;
}
.calendar .viewport .body {
  overflow-y: scroll;
}
.calendar .viewport .body .timeline {
  display: flex;
  flex-direction: column;
  width: 80px;
  min-width: 80px;
  outline: unset;
}
.calendar .viewport .body .timeline .row_label_content {
  height: 64px;
}
.calendar .viewport .body .calendar_grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  outline: unset;
}
.calendar .viewport .body .calendar_grid .row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.calendar .viewport .body .calendar_grid .row .cell {
  width: 100%;
}
.calendar .viewport .body .calendar_grid .row .cell .cell_content {
  height: 64px;
}
.calendar .viewport .body .calendar_grid .row .cell .cell_content .calendar_tasks_container {
  overflow-y: auto;
}
.calendar .viewport .body .calendar_grid .row .cell .cell_content .calendar_tasks_container .task_widget {
  color: black;
  max-height: 20px;
  overflow: hidden;
  word-break: break-all;
}
.calendar .viewport .body .calendar_grid .row .cell .cell_content .calendar_tasks_container .task_widget:hover {
  outline: 1px solid darkred;
}
.calendar .viewport .body .calendar_grid .row .cell:hover {
  outline: 2px solid blue;
  cursor: pointer;
}
.calendar .viewport .body .current_interval {
  outline: 4px solid #e56c6c;
}
.calendar .viewport .body .selected_interval {
  background-color: #97D4FF;
}
.calendar .viewport.year .body .calendar_grid .row .cell_content,
.calendar .viewport.year .body .row_label_content {
  height: 64px;
}
.calendar .viewport.year .body .calendar_tasks_container {
  height: 50px;
}
.calendar .viewport.month .body .calendar_grid .row .cell_content,
.calendar .viewport.month .body .row_label_content {
  height: 128px;
}
.calendar .viewport.week .body .calendar_grid .row .cell_content,
.calendar .viewport.week .body .row_label_content {
  height: 70vh;
}
.modal .overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
}
.modal .window {
  position: fixed;
  z-index: 1001;
  background-color: white;
  color: black;
  padding: 4px;
  margin: 4px;
  width: 50%;
  top: 25%;
  left: 25%;
  height: 30%;
}
.modal .window .btn_close {
  cursor: pointer;
  text-align: right;
}
.modal .window .content {
  padding: 4px;
  margin: 4px;
  height: calc(100% - 40px);
  overflow-y: scroll;
}
.option_element {
  cursor: pointer;
}
.option_element:hover {
  outline: 1px solid red;
}
