@media (min-width: 768px) {
  .color-red {
    color: red;
  }
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.small_label {
  font-size: 10px;
  margin: 0;
  color: #626262;
}
.hidden {
  display: none;
}
.modal_wrapper .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
}
.modal_wrapper .modal_window {
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 60px;
  background-color: white;
  font-size: 12px;
}
.modal_wrapper .modal_window .btn_close {
  cursor: pointer;
}
.modal_wrapper .modal_window .btn_ok {
  cursor: pointer;
  background-color: darkgreen;
  color: white;
}
.var_input {
  border-radius: 8px;
  padding: 8px 12px;
  border: none;
  color: #4A8FC1;
  font-size: 16px;
  max-width: 180px;
}
@media (min-width: 500px) {
  .var_input {
    max-width: unset;
  }
}
.var_input:focus-visible,
.var_input:focus {
  outline: 2px solid #4A8FC1;
}
.var_submit {
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #4A8FC1;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 700;
}
.var_submit:hover {
  background-color: #34729f;
}
.var_btn_del {
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #4A8FC1;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 700;
  padding: 4px 8px;
  font-size: 10px;
  background-color: #e56c6c;
}
.var_btn_del:hover {
  background-color: #34729f;
}
.var_btn_del:hover {
  background-color: #9d3c3c;
}
.search_and_sorting_widget input[type="text"] {
  border-radius: 8px;
  padding: 8px 12px;
  border: none;
  color: #4A8FC1;
  font-size: 16px;
  max-width: 180px;
  width: 100%;
  margin: 4px;
}
@media (min-width: 500px) {
  .search_and_sorting_widget input[type="text"] {
    max-width: unset;
  }
}
.search_and_sorting_widget input[type="text"]:focus-visible,
.search_and_sorting_widget input[type="text"]:focus {
  outline: 2px solid #4A8FC1;
}
@media (min-width: 768px) {
  .search_and_sorting_widget {
    min-width: 76px;
  }
}
.table_column_sorting {
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #4A8FC1;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 700;
}
.table_column_sorting:hover {
  background-color: #34729f;
}
.header-container {
  display: grid;
  grid-template-areas: "logo-container profile-container" "navbar-container navbar-container";
  position: fixed;
  gap: 4px;
  background-color: #FFFAF4;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 6px 6px 0;
  padding: 4px;
}
@media (min-width: 580px) {
  .header-container {
    grid-template-areas: "logo-container navbar-container profile-container";
  }
}
@media (min-width: 768px) {
  .header-container {
    margin: 0 10px 10px 0;
    padding: 10px;
  }
}
@media (min-width: 1440px) {
  .header-container {
    padding: 20px 40px;
  }
}
.header-container .logo-container {
  grid-area: logo-container;
  padding-top: 2px;
  color: #D2B187;
}
.header-container .logo-container h1 {
  font-size: 16px;
  margin: 0;
}
@media (min-width: 768px) {
  .header-container .logo-container h1 {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .header-container .logo-container h1 {
    font-size: 24px;
  }
}
@media (min-width: 1440px) {
  .header-container .logo-container h1 {
    font-size: 24px;
  }
}
.header-container .navbar-container {
  width: 100%;
  text-align: center;
  grid-area: navbar-container;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 768px) {
  .header-container .navbar-container {
    justify-content: center;
    gap: 8px;
  }
}
.header-container .profile-container {
  text-align: right;
  grid-area: profile-container;
}
.navbar-link {
  border-radius: 4px;
  font-size: 12px;
  display: inline-block;
  text-decoration: none;
  padding: 4px 12px;
  margin: 2px;
  color: #8f642d;
  background-color: #FFCF90;
}
@media (min-width: 768px) {
  .navbar-link {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .navbar-link {
    font-size: 14px;
    padding: 8px 16px;
  }
}
.navbar-link:hover {
  cursor: pointer;
  background-color: #C18B47;
  color: white;
}
.navbar-link.navbar-link-active {
  font-weight: bold;
}
