body {
  font-family: Tahoma, "Trebuchet MS", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #F5FBFF;
}
body > .wrapper {
  overflow: hidden;
}
* {
  box-sizing: border-box;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .color-red {
    color: red;
  }
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.small_label {
  font-size: 10px;
  margin: 0;
  color: #626262;
}
.hidden {
  display: none;
}
.modal_wrapper .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
}
.modal_wrapper .modal_window {
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 60px;
  background-color: white;
  font-size: 12px;
}
.modal_wrapper .modal_window .btn_close {
  cursor: pointer;
}
.modal_wrapper .modal_window .btn_ok {
  cursor: pointer;
  background-color: darkgreen;
  color: white;
}
.var_input {
  border-radius: 8px;
  padding: 8px 12px;
  border: none;
  color: #4A8FC1;
  font-size: 16px;
  max-width: 180px;
}
@media (min-width: 500px) {
  .var_input {
    max-width: unset;
  }
}
.var_input:focus-visible,
.var_input:focus {
  outline: 2px solid #4A8FC1;
}
.var_submit {
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #4A8FC1;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 700;
}
.var_submit:hover {
  background-color: #34729f;
}
.var_btn_del {
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #4A8FC1;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 700;
  padding: 4px 8px;
  font-size: 10px;
  background-color: #e56c6c;
}
.var_btn_del:hover {
  background-color: #34729f;
}
.var_btn_del:hover {
  background-color: #9d3c3c;
}
.search_and_sorting_widget input[type="text"] {
  border-radius: 8px;
  padding: 8px 12px;
  border: none;
  color: #4A8FC1;
  font-size: 16px;
  max-width: 180px;
  width: 100%;
  margin: 4px;
}
@media (min-width: 500px) {
  .search_and_sorting_widget input[type="text"] {
    max-width: unset;
  }
}
.search_and_sorting_widget input[type="text"]:focus-visible,
.search_and_sorting_widget input[type="text"]:focus {
  outline: 2px solid #4A8FC1;
}
@media (min-width: 768px) {
  .search_and_sorting_widget {
    min-width: 76px;
  }
}
.table_column_sorting {
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #4A8FC1;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 700;
}
.table_column_sorting:hover {
  background-color: #34729f;
}
#content-container {
  margin: 96px 6px 0 6px;
  padding: 4px;
  color: #4A8FC1;
}
.page-content {
  margin-left: auto;
  margin-right: auto;
}
.page-content .page-title-label {
  font-size: 10px;
  margin: 0;
  color: #626262;
}
.page-content .toolbar,
.page-content form {
  background-color: #97D4FF;
  border-radius: 8px;
  padding: 12px;
  margin: 12px 0;
}
.page-content .toolbar textarea,
.page-content form textarea,
.page-content .toolbar select,
.page-content form select,
.page-content .toolbar input[type="password"],
.page-content form input[type="password"],
.page-content .toolbar input[type="date"],
.page-content form input[type="date"],
.page-content .toolbar input[type="datetime-local"],
.page-content form input[type="datetime-local"],
.page-content .toolbar input[type="number"],
.page-content form input[type="number"],
.page-content .toolbar input[type="email"],
.page-content form input[type="email"],
.page-content .toolbar input[type="text"],
.page-content form input[type="text"] {
  border-radius: 8px;
  padding: 8px 12px;
  border: none;
  color: #4A8FC1;
  font-size: 16px;
  max-width: 180px;
}
@media (min-width: 500px) {
  .page-content .toolbar textarea,
  .page-content form textarea,
  .page-content .toolbar select,
  .page-content form select,
  .page-content .toolbar input[type="password"],
  .page-content form input[type="password"],
  .page-content .toolbar input[type="date"],
  .page-content form input[type="date"],
  .page-content .toolbar input[type="datetime-local"],
  .page-content form input[type="datetime-local"],
  .page-content .toolbar input[type="number"],
  .page-content form input[type="number"],
  .page-content .toolbar input[type="email"],
  .page-content form input[type="email"],
  .page-content .toolbar input[type="text"],
  .page-content form input[type="text"] {
    max-width: unset;
  }
}
.page-content .toolbar textarea:focus-visible,
.page-content form textarea:focus-visible,
.page-content .toolbar select:focus-visible,
.page-content form select:focus-visible,
.page-content .toolbar input[type="password"]:focus-visible,
.page-content form input[type="password"]:focus-visible,
.page-content .toolbar input[type="date"]:focus-visible,
.page-content form input[type="date"]:focus-visible,
.page-content .toolbar input[type="datetime-local"]:focus-visible,
.page-content form input[type="datetime-local"]:focus-visible,
.page-content .toolbar input[type="number"]:focus-visible,
.page-content form input[type="number"]:focus-visible,
.page-content .toolbar input[type="email"]:focus-visible,
.page-content form input[type="email"]:focus-visible,
.page-content .toolbar input[type="text"]:focus-visible,
.page-content form input[type="text"]:focus-visible,
.page-content .toolbar textarea:focus,
.page-content form textarea:focus,
.page-content .toolbar select:focus,
.page-content form select:focus,
.page-content .toolbar input[type="password"]:focus,
.page-content form input[type="password"]:focus,
.page-content .toolbar input[type="date"]:focus,
.page-content form input[type="date"]:focus,
.page-content .toolbar input[type="datetime-local"]:focus,
.page-content form input[type="datetime-local"]:focus,
.page-content .toolbar input[type="number"]:focus,
.page-content form input[type="number"]:focus,
.page-content .toolbar input[type="email"]:focus,
.page-content form input[type="email"]:focus,
.page-content .toolbar input[type="text"]:focus,
.page-content form input[type="text"]:focus {
  outline: 2px solid #4A8FC1;
}
.page-content .toolbar input[type="submit"],
.page-content form input[type="submit"],
.page-content .toolbar button[type="submit"],
.page-content form button[type="submit"] {
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #4A8FC1;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 700;
}
.page-content .toolbar input[type="submit"]:hover,
.page-content form input[type="submit"]:hover,
.page-content .toolbar button[type="submit"]:hover,
.page-content form button[type="submit"]:hover {
  background-color: #34729f;
}
.page-content .toolbar textarea,
.page-content form textarea {
  width: 100%;
  margin-top: 20px;
}
.page-content .toolbar .duration_controller,
.page-content form .duration_controller {
  display: block;
  width: 100px;
}
.page-content a {
  color: #34729f;
}
.page-content a:visited {
  color: #34729f;
}
.page-content a.a_btn_primary {
  display: inline-block;
  margin: 4px 0;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #4A8FC1;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}
.page-content a.a_btn_primary:hover {
  background-color: #34729f;
}
.page-content.home_page,
.page-content.project_edit,
.page-content.projects_create,
.page-content.tasks_add_to_project,
.page-content.tasks_create,
.page-content.tasks_edit,
.page-content.login_page,
.page-content.register_page,
.page-content.account_page {
  width: 320px;
}
@media (min-width: 500px) {
  .page-content.home_page,
  .page-content.project_edit,
  .page-content.projects_create,
  .page-content.tasks_add_to_project,
  .page-content.tasks_create,
  .page-content.tasks_edit,
  .page-content.login_page,
  .page-content.register_page,
  .page-content.account_page {
    width: 420px;
  }
}
.entity_header {
  display: grid;
  grid-template-areas: "page-title-container entity_tools entity_datetimes" "entity_value entity_value entity_value" "entity_description entity_description entity_description";
  grid-template-columns: 148px 50px auto;
  row-gap: 8px;
  margin-bottom: -16px;
}
.flex-row {
  display: flex;
  justify-content: space-between;
}
.page-title-container {
  grid-area: page-title-container;
}
.page-title-container select {
  width: 100%;
}
.table_item_tools,
.entity_tools {
  font-size: 20px;
  grid-area: entity_tools;
  display: flex;
  align-items: flex-start;
  width: 96px;
  padding-top: 4px;
}
.table_item_tools a,
.entity_tools a {
  text-decoration: none;
  display: inline-block;
}
.table_item_tools .btn_item_delete,
.entity_tools .btn_item_delete {
  margin-right: 6px;
  padding: 1px 4px;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #4A8FC1;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 700;
  padding: 4px 8px;
  font-size: 10px;
  background-color: #e56c6c;
}
.table_item_tools .btn_item_delete:hover,
.entity_tools .btn_item_delete:hover {
  background-color: #34729f;
}
.table_item_tools .btn_item_delete:hover,
.entity_tools .btn_item_delete:hover {
  background-color: #9d3c3c;
}
.entity_datetimes {
  grid-area: entity_datetimes;
  font-size: 12px;
  text-align: right;
}
.entity_description {
  grid-area: entity_description;
}
.entity_description .entity_description_label {
  margin: 6px 0;
  font-size: 10px;
  margin: 0;
  color: #626262;
}
.entity_description .entity_description_value {
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.entity_value {
  grid-area: entity_value;
}
.entity_value .entity_value_label {
  margin: 6px 0;
  font-size: 10px;
  margin: 0;
  color: #626262;
}
.entity_value .entity_value_value {
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.items_table_wrapper {
  margin-top: 20px;
}
.items_table_wrapper .items_table_label {
  margin: 6px 0;
  font-size: 10px;
  margin: 0;
  color: #626262;
}
.items_table_wrapper .select_dt_scale_label,
.items_table_wrapper .btn_rounded {
  font-size: 12px;
  padding: 2px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  border-radius: 10px;
}
.items_table_wrapper .del_item {
  background-color: indianred;
}
.items_table_wrapper .del_item:hover {
  background-color: darkred;
}
.items_table_wrapper .btn_table_filter,
.items_table_wrapper .btn_table_order,
.items_table_wrapper .select_dt_scale_label,
.items_table_wrapper .btn_diagram_refresh,
.items_table_wrapper .btn_table_search {
  background-color: cadetblue;
}
.items_table_wrapper .btn_table_filter:hover,
.items_table_wrapper .btn_table_order:hover,
.items_table_wrapper .select_dt_scale_label:hover,
.items_table_wrapper .btn_diagram_refresh:hover,
.items_table_wrapper .btn_table_search:hover {
  background-color: #3f7779;
}
.items_table_wrapper .toolbar {
  margin-top: 8px;
  margin-bottom: 8px;
}
.items_table_wrapper table {
  width: 100%;
  border-spacing: unset;
  font-size: 12px;
  margin-top: 16px;
}
.items_table_wrapper table td,
.items_table_wrapper table th {
  padding: 0 6px;
  outline: 1px solid #97D4FF;
}
.items_table_wrapper table td .ellipsed_text_1 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.items_table_wrapper table td .ellipsed_text_2 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.items_table_wrapper table td .ellipsed_text.clamp_3 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.items_table_wrapper table th {
  display: none;
}
@media (min-width: 768px) {
  .items_table_wrapper table th {
    display: table-cell;
  }
}
.items_table_wrapper table tr {
  outline: 1px solid #97D4FF;
}
.items_table_wrapper table tr .table_item_tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24px;
}
@media (min-width: 768px) {
  .items_table_wrapper table tr .table_item_tools {
    flex-direction: unset;
    flex-wrap: wrap;
    justify-content: center;
    width: unset;
  }
}
.items_table_wrapper table tr .table_item_tools .btn_item_delete {
  padding: 1px 4px;
}
.items_table_wrapper table tr .table_item_edit {
  display: none;
}
@media (min-width: 768px) {
  .items_table_wrapper table tr .table_item_edit {
    display: block;
  }
}
.items_table_wrapper table tr .task_item_done {
  top: 0;
  left: -4px;
  position: absolute;
  text-align: center;
}
@media (min-width: 768px) {
  .items_table_wrapper table tr .task_item_done {
    position: static;
  }
}
.items_table_wrapper table .task-item-row {
  position: relative;
  height: 120px;
}
.items_table_wrapper table .task-item-row.profit {
  background-color: green;
}
.items_table_wrapper table .task-item-row.no-profit {
  background-color: red;
}
.items_table_wrapper table .task-item-row a {
  text-decoration: none;
  cursor: pointer;
}
.items_table_wrapper table .task-item-row table {
  margin: 0;
}
.items_table_wrapper table .task-item-id {
  display: none;
  text-align: center;
}
@media (min-width: 768px) {
  .items_table_wrapper table .task-item-id {
    display: table-cell;
  }
}
.items_table_wrapper table .task_item_title input {
  border-radius: 8px;
  padding: 8px 12px;
  border: none;
  color: #4A8FC1;
  font-size: 16px;
  max-width: 180px;
  font-size: 12px;
  top: 4px;
  left: 36px;
  width: calc(100vw - 170px);
  position: absolute;
  background: transparent;
}
@media (min-width: 500px) {
  .items_table_wrapper table .task_item_title input {
    max-width: unset;
  }
}
.items_table_wrapper table .task_item_title input:focus-visible,
.items_table_wrapper table .task_item_title input:focus {
  outline: 2px solid #4A8FC1;
}
.items_table_wrapper table .task_item_title input:focus-visible,
.items_table_wrapper table .task_item_title input:focus {
  outline: none;
}
@media (min-width: 768px) {
  .items_table_wrapper table .task_item_title input {
    position: static;
    width: unset;
  }
}
.items_table_wrapper table .task_item_description {
  top: 22px;
  left: 36px;
  width: calc(100vw - 170px);
  position: absolute;
}
@media (min-width: 768px) {
  .items_table_wrapper table .task_item_description {
    position: static;
    width: unset;
  }
}
.items_table_wrapper table .task_item_description > div {
  word-break: break-all;
}
.items_table_wrapper table .task_item_created_at,
.items_table_wrapper table .task_item_updated_at {
  display: none;
}
@media (min-width: 768px) {
  .items_table_wrapper table .task_item_created_at,
  .items_table_wrapper table .task_item_updated_at {
    display: table-cell;
  }
}
.items_table_wrapper table .task_item_begin_at {
  top: 0;
  left: unset;
  right: 0;
  width: 100px;
  position: absolute;
}
@media (min-width: 768px) {
  .items_table_wrapper table .task_item_begin_at {
    position: static;
    width: unset;
  }
}
.items_table_wrapper table .task_item_duration {
  top: 22px;
  left: unset;
  right: 0;
  width: 100px;
  position: absolute;
}
@media (min-width: 768px) {
  .items_table_wrapper table .task_item_duration {
    position: static;
    width: unset;
  }
}
.items_table_wrapper table .task_item_tags {
  top: 37px;
  left: unset;
  right: 0;
  display: flex;
  justify-content: center;
  width: 100px;
  position: absolute;
}
@media (min-width: 768px) {
  .items_table_wrapper table .task_item_tags {
    position: static;
    width: unset;
    display: table-cell;
  }
}
.items_table_wrapper table .task_item_tag {
  display: flex;
  min-width: 20px;
  overflow: hidden;
  height: 16px;
  border-radius: 4px;
}
.items_table_wrapper table .slct_table_column_multi_filter {
  font-size: 12px;
}
.items_table_wrapper table .slct_table_column_multi_filter option {
  font-size: 10px;
}
.page-content .multi_filter_widget .slct_table_column_multi_filter {
  border-radius: 8px;
  padding: 8px 12px;
  border: none;
  color: #4A8FC1;
  font-size: 16px;
  max-width: 180px;
}
@media (min-width: 500px) {
  .page-content .multi_filter_widget .slct_table_column_multi_filter {
    max-width: unset;
  }
}
.page-content .multi_filter_widget .slct_table_column_multi_filter:focus-visible,
.page-content .multi_filter_widget .slct_table_column_multi_filter:focus {
  outline: 2px solid #4A8FC1;
}
.page-content.tasks_page,
.page-content.projects_detail,
.page-content.projects_page {
  width: 100%;
}
@media (min-width: 1440px) {
  .page-content.tasks_page,
  .page-content.projects_detail,
  .page-content.projects_page {
    padding: 12px 40px;
  }
}
.page-content.tasks_page table,
.page-content.projects_detail table,
.page-content.projects_page table,
.page-content.tasks_page tbody,
.page-content.projects_detail tbody,
.page-content.projects_page tbody,
.page-content.tasks_page tr,
.page-content.projects_detail tr,
.page-content.projects_page tr,
.page-content.tasks_page th,
.page-content.projects_detail th,
.page-content.projects_page th,
.page-content.tasks_page td,
.page-content.projects_detail td,
.page-content.projects_page td {
  font-size: 14px;
}
.page-content.tasks_page table tr td,
.page-content.projects_detail table tr td,
.page-content.projects_page table tr td,
.page-content.tasks_page tbody tr td,
.page-content.projects_detail tbody tr td,
.page-content.projects_page tbody tr td,
.page-content.tasks_page table tr th,
.page-content.projects_detail table tr th,
.page-content.projects_page table tr th,
.page-content.tasks_page tbody tr th,
.page-content.projects_detail tbody tr th,
.page-content.projects_page tbody tr th {
  padding: 2px;
  vertical-align: top;
}
@media (min-width: 1200px) {
  .page-content.tasks_page table tr td,
  .page-content.projects_detail table tr td,
  .page-content.projects_page table tr td,
  .page-content.tasks_page tbody tr td,
  .page-content.projects_detail tbody tr td,
  .page-content.projects_page tbody tr td,
  .page-content.tasks_page table tr th,
  .page-content.projects_detail table tr th,
  .page-content.projects_page table tr th,
  .page-content.tasks_page tbody tr th,
  .page-content.projects_detail tbody tr th,
  .page-content.projects_page tbody tr th {
    font-size: 16px;
    padding: 8px;
  }
}
.page-content.tasks_page table tr td .ellipsed_text,
.page-content.projects_detail table tr td .ellipsed_text,
.page-content.projects_page table tr td .ellipsed_text,
.page-content.tasks_page tbody tr td .ellipsed_text,
.page-content.projects_detail tbody tr td .ellipsed_text,
.page-content.projects_page tbody tr td .ellipsed_text,
.page-content.tasks_page table tr th .ellipsed_text,
.page-content.projects_detail table tr th .ellipsed_text,
.page-content.projects_page table tr th .ellipsed_text,
.page-content.tasks_page tbody tr th .ellipsed_text,
.page-content.projects_detail tbody tr th .ellipsed_text,
.page-content.projects_page tbody tr th .ellipsed_text {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
@media (min-width: 500px) {
  .page-content.tasks_page table tr td .ellipsed_text,
  .page-content.projects_detail table tr td .ellipsed_text,
  .page-content.projects_page table tr td .ellipsed_text,
  .page-content.tasks_page tbody tr td .ellipsed_text,
  .page-content.projects_detail tbody tr td .ellipsed_text,
  .page-content.projects_page tbody tr td .ellipsed_text,
  .page-content.tasks_page table tr th .ellipsed_text,
  .page-content.projects_detail table tr th .ellipsed_text,
  .page-content.projects_page table tr th .ellipsed_text,
  .page-content.tasks_page tbody tr th .ellipsed_text,
  .page-content.projects_detail tbody tr th .ellipsed_text,
  .page-content.projects_page tbody tr th .ellipsed_text {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
  }
}
@media (min-width: 1200px) {
  .page-content.tasks_page table tr td .ellipsed_text,
  .page-content.projects_detail table tr td .ellipsed_text,
  .page-content.projects_page table tr td .ellipsed_text,
  .page-content.tasks_page tbody tr td .ellipsed_text,
  .page-content.projects_detail tbody tr td .ellipsed_text,
  .page-content.projects_page tbody tr td .ellipsed_text,
  .page-content.tasks_page table tr th .ellipsed_text,
  .page-content.projects_detail table tr th .ellipsed_text,
  .page-content.projects_page table tr th .ellipsed_text,
  .page-content.tasks_page tbody tr th .ellipsed_text,
  .page-content.projects_detail tbody tr th .ellipsed_text,
  .page-content.projects_page tbody tr th .ellipsed_text {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 12;
  }
}
@media (min-width: 500px) {
  .page-content.tasks_page table tr th,
  .page-content.projects_detail table tr th,
  .page-content.projects_page table tr th,
  .page-content.tasks_page tbody tr th,
  .page-content.projects_detail tbody tr th,
  .page-content.projects_page tbody tr th {
    display: table-cell;
  }
}
@media (max-width: 499px) {
  .page-content.projects_page td:nth-child(6),
  .page-content.projects_page th:nth-child(6),
  .page-content.projects_page td:nth-child(7),
  .page-content.projects_page th:nth-child(7) {
    display: none;
  }
}
.page-content.projects_detail .add_item,
.page-content.tasks_page .add_item {
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #4A8FC1;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 700;
}
.page-content.projects_detail .add_item:hover,
.page-content.tasks_page .add_item:hover {
  background-color: #34729f;
}
@media (max-width: 767px) {
  .page-content.projects_detail .items_table_wrapper table tbody tr th,
  .page-content.tasks_page .items_table_wrapper table tbody tr th,
  .page-content.projects_detail .items_table_wrapper table tbody tr td,
  .page-content.tasks_page .items_table_wrapper table tbody tr td {
    font-size: 12px;
  }
}
@media (max-width: 953px) {
  .page-content.projects_detail .items_table_wrapper table tbody tr th,
  .page-content.tasks_page .items_table_wrapper table tbody tr th,
  .page-content.projects_detail .items_table_wrapper table tbody tr td,
  .page-content.tasks_page .items_table_wrapper table tbody tr td {
    outline: none;
  }
}
@media (max-width: 953px) {
  .page-content.projects_detail .items_table_wrapper table tbody tr th:nth-child(6),
  .page-content.tasks_page .items_table_wrapper table tbody tr th:nth-child(6),
  .page-content.projects_detail .items_table_wrapper table tbody tr td:nth-child(6),
  .page-content.tasks_page .items_table_wrapper table tbody tr td:nth-child(6),
  .page-content.projects_detail .items_table_wrapper table tbody tr th:nth-child(7),
  .page-content.tasks_page .items_table_wrapper table tbody tr th:nth-child(7),
  .page-content.projects_detail .items_table_wrapper table tbody tr td:nth-child(7),
  .page-content.tasks_page .items_table_wrapper table tbody tr td:nth-child(7) {
    display: none;
  }
}
@media (max-width: 767px) {
  .page-content.projects_detail .items_table_wrapper table tbody tr th,
  .page-content.tasks_page .items_table_wrapper table tbody tr th {
    display: none;
  }
}
@media (max-width: 499px) {
  .page-content.projects_detail,
  .page-content.gantt {
    margin-top: 24px;
  }
}
.page-content.projects_detail .entity_header,
.page-content.gantt .entity_header {
  display: flex;
  flex-direction: column;
}
.page-content.projects_detail .entity_header form,
.page-content.gantt .entity_header form {
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 500px) {
  .page-content.projects_detail .entity_header form,
  .page-content.gantt .entity_header form {
    flex-direction: row;
  }
}
.page-content.projects_detail .entity_header form input,
.page-content.gantt .entity_header form input,
.page-content.projects_detail .entity_header form select,
.page-content.gantt .entity_header form select {
  font-size: 12px;
  max-width: unset;
  margin: 4px;
}
@media (min-width: 500px) {
  .page-content.projects_detail .entity_header form input[type="submit"],
  .page-content.gantt .entity_header form input[type="submit"] {
    height: 32px;
  }
}
.page-content.projects_detail .entity_header .chart_datetimes,
.page-content.gantt .entity_header .chart_datetimes {
  display: flex;
  gap: 4px;
}
@media (min-width: 500px) {
  .page-content.projects_detail .entity_header .chart_datetimes,
  .page-content.gantt .entity_header .chart_datetimes {
    flex-direction: column;
  }
}
.page-content.tasks_add_to_project {
  margin-top: 20px;
}
@media (min-width: 500px) {
}
@media (max-width: 767px) {
  .page-content.projects_detail #move_settings {
    margin-top: 20px;
  }
}
.page-content.account_page {
  background-color: #97D4FF;
  border-radius: 8px;
  padding: 20px;
}
.tasks_table .ava_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.tasks_table .ava_item_wrapper {
  position: relative;
  height: 30px;
}
.tasks_table .user_avatar {
  position: absolute;
  width: 30px;
  height: 30px;
  left: -15px;
  border-radius: 20px;
}
.tasks_table .user_avatar:hover {
  cursor: pointer;
  z-index: 100;
}
.pagination {
  font-size: 14px;
  display: flex;
  align-items: baseline;
  margin-bottom: 4px;
}
@media (min-width: 1200px) {
  .pagination {
    font-size: 16px;
  }
}
.pagination_per_page,
.pagination_pages,
.pagination_len {
  flex: 4;
}
.pagination_pages {
  text-align: center;
}
.pagination_len {
  text-align: right;
}
#pagination_limit {
  font-size: 14px;
  margin: 8px 0;
  padding: 2px;
  border: none;
  border-radius: 2px;
  outline: 1px solid #4A8FC1;
}
@media (min-width: 1200px) {
  #pagination_limit {
    font-size: 16px;
  }
}
#pagination_limit:focus-visible,
#pagination_limit:focus {
  outline: 2px solid #4A8FC1 !important;
}
.btn_pagination_ctrl {
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #4A8FC1;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 700;
}
.btn_pagination_ctrl:hover {
  background-color: #34729f;
}
@media (max-width: 1199px) {
  .btn_pagination_ctrl {
    padding: 4px;
    font-size: 12px;
    font-weight: 300;
  }
}
.viewport_toolbar {
  font-size: 12px;
}
#viewport_type_select {
  font-size: 12px;
}
.viewport_datetimeline {
  overflow: scroll;
  width: 100%;
  height: 500px;
  position: relative;
}
.current_timeline {
  width: 100%;
  background-color: red;
  height: 1px;
  position: absolute;
  top: 200px;
}
.ruler {
  width: 100px;
  background-color: #4A8FC1;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000px;
}
.days_helpers_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.days_helpers_container .day_line {
  width: 100%;
  border-bottom: 1px dashed blue;
  position: absolute;
  text-align: right;
  padding-right: 20px;
}
.ruler_row {
  outline: 1px solid #F5FBFF;
  color: #F5FBFF;
}
.viewport_datetimeline_canvas {
  position: absolute;
  width: 100%;
  background-color: #d0d0d0;
}
.svg_container,
.tasks_container {
  position: absolute;
  user-select: none;
}
.task_relation_svg_elem {
  position: absolute;
  overflow: hidden;
}
.task_elem {
  position: absolute;
  overflow: hidden;
  line-height: 0.8;
  font-size: 12px;
  background-color: white;
  user-select: none;
}
.task_elem .task_content {
  background-color: yellow;
  user-select: none;
}
.task_elem .task_begin_at {
  background-color: deepskyblue;
}
.task_elem .task_duration {
  background-color: darkblue;
  color: white;
}
.task_elem .task_tool {
  text-align: center;
  font-size: 14px;
  color: white;
  display: inline-block;
  width: 14px;
  background-color: #626262;
}
.task_elem .task_tool.to_move_x {
  cursor: grab;
}
.task_elem .task_tool.to_edit_width {
  position: absolute;
  top: 0;
  right: 0;
  cursor: ew-resize;
}
.task_elem .task_tool.to_edit_duration {
  position: absolute;
  top: 0;
  right: 20px;
  cursor: ns-resize;
}
.task_elem .task_tool.to_delete_task {
  position: absolute;
  top: 0;
  right: 80px;
  cursor: pointer;
}
.task_elem .task_tool.bind_child_btn {
  position: absolute;
  top: 0;
  right: 100px;
  cursor: pointer;
}
.task_elem .task_tool.bind_child_btn.chosen-parent {
  outline: 2px solid blue;
}
.task_elem .task_tool.bind_child_btn.potential-child:hover {
  outline: 2px solid green;
}
.task_elem .task_tool.is_done {
  position: absolute;
  top: 0;
  right: 62px;
  cursor: pointer;
  background: transparent;
}
.task_elem .task_tool.is_done .checkbox_container {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.task_elem .task_tool.is_done .checkbox_container:hover input ~ .checkmark {
  background-color: #80c7ad;
}
.task_elem .task_tool.is_done .checkbox_container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.task_elem .task_tool.is_done .checkbox_container input[type="checkbox"]:checked ~ .checkmark {
  background-color: #04993e;
}
.task_elem .task_tool.is_done .checkbox_container input[type="checkbox"]:checked ~ .checkmark:after {
  display: block;
}
.task_elem .task_tool.is_done .checkbox_container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 11px;
  width: 16px;
  background-color: #f88888;
}
.task_elem .task_tool.is_done .checkbox_container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: -1px;
  width: 4px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.task_elem .task_tool.to_edit_task {
  position: absolute;
  top: 0;
  right: 40px;
  cursor: pointer;
}
.task_elem .task_tool.to_edit_task a {
  display: contents;
  color: white;
}
.task_tooltip {
  position: fixed;
  z-index: 100;
  background-color: white;
  font-size: 12px;
  width: 200px;
}
#move_settings {
  display: inline-block;
  font-size: 12px;
}
.task_tag {
  display: inline-block;
  padding: 4px;
  margin: 0 2px;
  border-radius: 12px;
}
td,
th {
  padding: 10px;
}
.hidden {
  display: none;
}
.table_column_sorting.active {
  background-color: #55bb55;
}
.hidden_form_elem {
  position: fixed;
  left: -1000px;
}
