body {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
body > .wrapper {
  overflow: hidden;
}
* {
  box-sizing: border-box;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .color-red {
    color: red;
  }
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
#content-container {
  margin: 68px 6px 0 6px;
  padding: 4px;
}
.page-content h1 {
  font-size: 16px;
  margin: 0 0 8px 0;
}
.entity_header {
  display: grid;
  grid-template-areas: "entity_tools entity_datetimes" "entity_description entity_description";
  grid-template-columns: 100px auto;
}
.entity_tools {
  font-size: 20px;
  grid-area: entity_tools;
  display: flex;
  align-items: flex-start;
  width: 96px;
  padding-top: 4px;
}
.entity_tools a {
  text-decoration: none;
  display: inline-block;
}
.entity_tools .btn_item_delete {
  margin-right: 6px;
}
.entity_datetimes {
  grid-area: entity_datetimes;
  font-size: 12px;
  text-align: right;
}
.entity_description {
  grid-area: entity_description;
}
.entity_description h4 {
  margin: 6px 0;
}
.entity_description span {
  font-size: 12px;
}
.items_table_wrapper h4 {
  margin: 6px 0;
}
.items_table_wrapper .btn_rounded {
  font-size: 12px;
  padding: 2px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  border-radius: 10px;
}
.items_table_wrapper .add_item {
  background-color: forestgreen;
}
.items_table_wrapper .add_item:hover {
  background-color: darkgreen;
}
.items_table_wrapper .del_item {
  background-color: indianred;
}
.items_table_wrapper .del_item:hover {
  background-color: darkred;
}
.items_table_wrapper .toolbar {
  margin-top: 16px;
}
.items_table_wrapper table {
  width: 100%;
  border-spacing: unset;
  font-size: 12px;
}
.items_table_wrapper table td,
.items_table_wrapper table th {
  padding: 0 6px;
  outline: 1px solid lightgray;
}
.items_table_wrapper table td .ellipsed_text {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.items_table_wrapper table tr {
  outline: 1px solid lightgray;
}
.items_table_wrapper table tr .table_item_tools {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .items_table_wrapper table tr .table_item_tools {
    flex-direction: unset;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.items_table_wrapper table tr .task_item_done {
  text-align: center;
}
.items_table_wrapper table .task-item-row a {
  text-decoration: none;
  cursor: pointer;
}
.items_table_wrapper table .task-item-id {
  text-align: center;
}
.items_table_wrapper table .slct_table_column_multi_filter {
  font-size: 12px;
}
.items_table_wrapper table .slct_table_column_multi_filter option {
  font-size: 10px;
}
.pagination {
  font-size: 12px;
  display: flex;
  align-items: baseline;
}
.pagination_per_page,
.pagination_pages,
.pagination_len {
  flex: 4;
}
.pagination_pages {
  text-align: center;
}
.pagination_len {
  text-align: right;
}
#pagination_limit {
  font-size: 12px;
}
td,
th {
  padding: 10px;
}
.hidden {
  display: none;
}
.table_column_sorting.active {
  background-color: #55bb55;
}
.hidden_form_elem {
  position: fixed;
  left: -1000px;
}
