body {
  font-family: Tahoma, "Trebuchet MS", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
body > .wrapper {
  overflow: hidden;
}
* {
  box-sizing: border-box;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .color-red {
    color: red;
  }
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.small_label {
  font-size: 10px;
  margin: 0;
  color: #626262;
}
.hidden {
  display: none;
}
.modal_wrapper .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
}
.modal_wrapper .modal_window {
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 60px;
  background-color: white;
  font-size: 12px;
}
.modal_wrapper .modal_window .btn_close {
  cursor: pointer;
}
.modal_wrapper .modal_window .btn_ok {
  cursor: pointer;
  background-color: darkgreen;
  color: white;
}
#content-container {
  margin: 68px 6px 0 6px;
  padding: 4px;
}
.page-content .page-title-label {
  font-size: 10px;
  margin: 0;
  color: #626262;
}
.entity_header {
  display: grid;
  grid-template-areas: "page-title-container entity_tools entity_datetimes" "entity_value entity_value entity_value" "entity_description entity_description entity_description";
  grid-template-columns: 148px 50px auto;
  row-gap: 8px;
  margin-bottom: -16px;
}
.page-title-container {
  grid-area: page-title-container;
}
.page-title-container select {
  width: 100%;
}
.entity_tools {
  font-size: 20px;
  grid-area: entity_tools;
  display: flex;
  align-items: flex-start;
  width: 96px;
  padding-top: 4px;
}
.entity_tools a {
  text-decoration: none;
  display: inline-block;
}
.entity_tools .btn_item_delete {
  margin-right: 6px;
  padding: 1px 4px;
}
.entity_datetimes {
  grid-area: entity_datetimes;
  font-size: 12px;
  text-align: right;
}
.entity_description {
  grid-area: entity_description;
}
.entity_description .entity_description_label {
  margin: 6px 0;
  font-size: 10px;
  margin: 0;
  color: #626262;
}
.entity_description .entity_description_value {
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.entity_value {
  grid-area: entity_value;
}
.entity_value .entity_value_label {
  margin: 6px 0;
  font-size: 10px;
  margin: 0;
  color: #626262;
}
.entity_value .entity_value_value {
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.items_table_wrapper .items_table_label {
  margin: 6px 0;
  font-size: 10px;
  margin: 0;
  color: #626262;
}
.items_table_wrapper .select_dt_scale_label,
.items_table_wrapper .btn_rounded {
  font-size: 12px;
  padding: 2px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  border-radius: 10px;
}
.items_table_wrapper .add_item {
  background-color: forestgreen;
}
.items_table_wrapper .add_item:hover {
  background-color: darkgreen;
}
.items_table_wrapper .del_item {
  background-color: indianred;
}
.items_table_wrapper .del_item:hover {
  background-color: darkred;
}
.items_table_wrapper .btn_table_filter,
.items_table_wrapper .btn_table_order,
.items_table_wrapper .select_dt_scale_label,
.items_table_wrapper .btn_diagram_refresh,
.items_table_wrapper .btn_table_search {
  background-color: cadetblue;
}
.items_table_wrapper .btn_table_filter:hover,
.items_table_wrapper .btn_table_order:hover,
.items_table_wrapper .select_dt_scale_label:hover,
.items_table_wrapper .btn_diagram_refresh:hover,
.items_table_wrapper .btn_table_search:hover {
  background-color: #3f7779;
}
.items_table_wrapper .toolbar {
  margin-top: 8px;
  margin-bottom: 8px;
}
.items_table_wrapper table {
  width: 100%;
  border-spacing: unset;
  font-size: 12px;
}
.items_table_wrapper table td,
.items_table_wrapper table th {
  padding: 0 6px;
  outline: 1px solid lightgray;
}
.items_table_wrapper table td .ellipsed_text_1 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.items_table_wrapper table td .ellipsed_text_2 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.items_table_wrapper table th {
  display: none;
}
@media (min-width: 768px) {
  .items_table_wrapper table th {
    display: table-cell;
  }
}
.items_table_wrapper table tr {
  outline: 1px solid lightgray;
}
.items_table_wrapper table tr .table_item_tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24px;
}
@media (min-width: 768px) {
  .items_table_wrapper table tr .table_item_tools {
    flex-direction: unset;
    flex-wrap: wrap;
    justify-content: center;
    width: unset;
  }
}
.items_table_wrapper table tr .table_item_tools .btn_item_delete {
  padding: 1px 4px;
}
.items_table_wrapper table tr .table_item_edit {
  display: none;
}
@media (min-width: 768px) {
  .items_table_wrapper table tr .table_item_edit {
    display: block;
  }
}
.items_table_wrapper table tr .task_item_done {
  top: 0;
  left: -4px;
  position: absolute;
  text-align: center;
}
@media (min-width: 768px) {
  .items_table_wrapper table tr .task_item_done {
    position: static;
  }
}
.items_table_wrapper table .task-item-row {
  position: relative;
}
.items_table_wrapper table .task-item-row.profit {
  background-color: green;
}
.items_table_wrapper table .task-item-row.no-profit {
  background-color: red;
}
.items_table_wrapper table .task-item-row a {
  text-decoration: none;
  cursor: pointer;
}
.items_table_wrapper table .task-item-id {
  display: none;
  text-align: center;
}
@media (min-width: 768px) {
  .items_table_wrapper table .task-item-id {
    display: table-cell;
  }
}
.items_table_wrapper table .task_item_title input {
  font-size: 12px;
  top: 4px;
  left: 36px;
  width: calc(100vw - 170px);
  position: absolute;
}
@media (min-width: 768px) {
  .items_table_wrapper table .task_item_title input {
    position: static;
    width: unset;
  }
}
.items_table_wrapper table .task_item_description {
  top: 22px;
  left: 36px;
  width: calc(100vw - 170px);
  position: absolute;
}
@media (min-width: 768px) {
  .items_table_wrapper table .task_item_description {
    position: static;
    width: unset;
  }
}
.items_table_wrapper table .task_item_created_at,
.items_table_wrapper table .task_item_updated_at {
  display: none;
}
@media (min-width: 768px) {
  .items_table_wrapper table .task_item_created_at,
  .items_table_wrapper table .task_item_updated_at {
    display: table-cell;
  }
}
.items_table_wrapper table .task_item_begin_at {
  top: 0;
  left: unset;
  right: 0;
  width: 100px;
  position: absolute;
}
@media (min-width: 768px) {
  .items_table_wrapper table .task_item_begin_at {
    position: static;
    width: unset;
  }
}
.items_table_wrapper table .task_item_duration {
  top: 22px;
  left: unset;
  right: 0;
  width: 100px;
  position: absolute;
}
@media (min-width: 768px) {
  .items_table_wrapper table .task_item_duration {
    position: static;
    width: unset;
  }
}
.items_table_wrapper table .task_item_tags {
  top: 37px;
  left: unset;
  right: 0;
  display: flex;
  justify-content: center;
  width: 100px;
  position: absolute;
}
@media (min-width: 768px) {
  .items_table_wrapper table .task_item_tags {
    position: static;
    width: unset;
    display: table-cell;
  }
}
.items_table_wrapper table .task_item_tag {
  display: flex;
  min-width: 20px;
  overflow: hidden;
  height: 16px;
}
.items_table_wrapper table .slct_table_column_multi_filter {
  font-size: 12px;
}
.items_table_wrapper table .slct_table_column_multi_filter option {
  font-size: 10px;
}
.pagination {
  font-size: 12px;
  display: flex;
  align-items: baseline;
}
.pagination_per_page,
.pagination_pages,
.pagination_len {
  flex: 4;
}
.pagination_pages {
  text-align: center;
}
.pagination_len {
  text-align: right;
}
#pagination_limit {
  font-size: 12px;
}
.viewport_toolbar {
  font-size: 12px;
}
#viewport_type_select {
  font-size: 12px;
}
.viewport_datetimeline {
  overflow: scroll;
  width: 100%;
  height: 500px;
  position: relative;
}
.current_timeline {
  width: 100%;
  background-color: red;
  height: 1px;
  position: absolute;
  top: 200px;
}
.ruler {
  width: 100px;
  background-color: #626262;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000px;
}
.ruler_row {
  outline: 1px solid gray;
}
.viewport_datetimeline_canvas {
  position: absolute;
  width: 100%;
  background-color: #d0d0d0;
}
.svg_container,
.tasks_container {
  position: absolute;
  user-select: none;
}
.task_relation_svg_elem {
  position: absolute;
  overflow: hidden;
}
.task_elem {
  position: absolute;
  overflow: hidden;
  line-height: 0.8;
  font-size: 12px;
  background-color: white;
  user-select: none;
}
.task_elem .task_content {
  background-color: yellow;
  user-select: none;
}
.task_elem .task_begin_at {
  background-color: deepskyblue;
}
.task_elem .task_duration {
  background-color: darkblue;
  color: white;
}
.task_elem .task_tool {
  text-align: center;
  font-size: 14px;
  color: white;
  display: inline-block;
  width: 14px;
  background-color: #626262;
}
.task_elem .task_tool.to_move_x {
  cursor: grab;
}
.task_elem .task_tool.to_edit_width {
  position: absolute;
  top: 0;
  right: 0;
  cursor: ew-resize;
}
.task_elem .task_tool.to_edit_duration {
  position: absolute;
  top: 0;
  right: 20px;
  cursor: ns-resize;
}
.task_elem .task_tool.to_delete_task {
  position: absolute;
  top: 0;
  right: 80px;
  cursor: pointer;
}
.task_elem .task_tool.bind_child_btn {
  position: absolute;
  top: 0;
  right: 100px;
  cursor: pointer;
}
.task_elem .task_tool.bind_child_btn.chosen-parent {
  outline: 2px solid blue;
}
.task_elem .task_tool.bind_child_btn.potential-child:hover {
  outline: 2px solid green;
}
.task_elem .task_tool.is_done {
  position: absolute;
  top: 0;
  right: 62px;
  cursor: pointer;
  background: transparent;
}
.task_elem .task_tool.is_done .checkbox_container {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.task_elem .task_tool.is_done .checkbox_container:hover input ~ .checkmark {
  background-color: #80c7ad;
}
.task_elem .task_tool.is_done .checkbox_container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.task_elem .task_tool.is_done .checkbox_container input[type="checkbox"]:checked ~ .checkmark {
  background-color: #04993e;
}
.task_elem .task_tool.is_done .checkbox_container input[type="checkbox"]:checked ~ .checkmark:after {
  display: block;
}
.task_elem .task_tool.is_done .checkbox_container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 11px;
  width: 16px;
  background-color: #f88888;
}
.task_elem .task_tool.is_done .checkbox_container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: -1px;
  width: 4px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.task_elem .task_tool.to_edit_task {
  position: absolute;
  top: 0;
  right: 40px;
  cursor: pointer;
}
.task_elem .task_tool.to_edit_task a {
  display: contents;
  color: white;
}
.task_tooltip {
  position: fixed;
  z-index: 100;
  background-color: white;
  font-size: 12px;
  width: 200px;
}
#move_settings {
  display: inline-block;
  font-size: 12px;
}
.task_tag {
  display: inline-block;
  padding: 4px;
  margin: 0 2px;
  border-radius: 12px;
}
.form-input#id_title {
  width: 300px;
}
td,
th {
  padding: 10px;
}
.hidden {
  display: none;
}
.table_column_sorting.active {
  background-color: #55bb55;
}
.hidden_form_elem {
  position: fixed;
  left: -1000px;
}
