@media (min-width: 768px) {
  .color-red {
    color: red;
  }
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.small_label {
  font-size: 10px;
  margin: 0;
  color: #626262;
}
.hidden {
  display: none;
}
.modal_wrapper .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
}
.modal_wrapper .modal_window {
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 60px;
  background-color: white;
  font-size: 12px;
}
.modal_wrapper .modal_window .btn_close {
  cursor: pointer;
}
.modal_wrapper .modal_window .btn_ok {
  cursor: pointer;
  background-color: darkgreen;
  color: white;
}
.viewport_toolbar {
  font-size: 12px;
}
#viewport_type_select {
  font-size: 12px;
}
.viewport_datetimeline {
  overflow: scroll;
  width: 100%;
  height: 500px;
  position: relative;
}
.current_timeline {
  width: 100%;
  background-color: red;
  height: 1px;
  position: absolute;
  top: 200px;
}
.ruler {
  width: 100px;
  background-color: #626262;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000px;
}
.ruler_row {
  outline: 1px solid gray;
}
.viewport_datetimeline_canvas {
  position: absolute;
  width: 100%;
  background-color: #d0d0d0;
}
.svg_container,
.tasks_container {
  position: absolute;
  user-select: none;
}
.task_relation_svg_elem {
  position: absolute;
  overflow: hidden;
}
.task_elem {
  position: absolute;
  overflow: hidden;
  line-height: 0.8;
  font-size: 12px;
  background-color: white;
  user-select: none;
}
.task_elem .task_content {
  background-color: yellow;
  user-select: none;
}
.task_elem .task_begin_at {
  background-color: deepskyblue;
}
.task_elem .task_duration {
  background-color: darkblue;
  color: white;
}
.task_elem .task_tool {
  text-align: center;
  font-size: 14px;
  color: white;
  display: inline-block;
  width: 14px;
  background-color: #626262;
}
.task_elem .task_tool.to_move_x {
  cursor: grab;
}
.task_elem .task_tool.to_edit_width {
  position: absolute;
  top: 0;
  right: 0;
  cursor: ew-resize;
}
.task_elem .task_tool.to_edit_duration {
  position: absolute;
  top: 0;
  right: 20px;
  cursor: ns-resize;
}
.task_elem .task_tool.is_done {
  position: absolute;
  top: 0;
  right: 62px;
  cursor: pointer;
  background: transparent;
}
.task_elem .task_tool.is_done .checkbox_container {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.task_elem .task_tool.is_done .checkbox_container:hover input ~ .checkmark {
  background-color: #80c7ad;
}
.task_elem .task_tool.is_done .checkbox_container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.task_elem .task_tool.is_done .checkbox_container input[type="checkbox"]:checked ~ .checkmark {
  background-color: #04993e;
}
.task_elem .task_tool.is_done .checkbox_container input[type="checkbox"]:checked ~ .checkmark:after {
  display: block;
}
.task_elem .task_tool.is_done .checkbox_container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 11px;
  width: 16px;
  background-color: #f88888;
}
.task_elem .task_tool.is_done .checkbox_container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: -1px;
  width: 4px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.task_elem .task_tool.to_edit_task {
  position: absolute;
  top: 0;
  right: 40px;
  cursor: pointer;
}
.task_elem .task_tool.to_edit_task a {
  display: contents;
  color: white;
}
.task_tooltip {
  position: fixed;
  z-index: 100;
  background-color: white;
  font-size: 12px;
  width: 200px;
}
#move_settings {
  display: inline-block;
  font-size: 12px;
}
